.header {
    background: #de0000;
background: linear-gradient(90deg, rgba(222, 0, 0, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(17, 20, 20, 1) 100%);
    text-align: center;
    padding: 20px;
    box-shadow: 10px;
    margin-bottom: 50px;
}

.header-logo {
    height: 100px;
}
body {
    margin: 0;
    background-color: black;
}
img {
    display: inline-block;
}

.card {
    background-color: #cac13c;
    width: 650px;
    padding: 15px;
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
}
.card-img {
    width: 100%;
    border-radius: 10px;
}

.footer {
    background-color: #ffffff;
    padding: 70px;
    display: flex;
    justify-content: center;
}

.sosial {
    width: 80px;
    height: 80px;
    background-color: rgb(0, 0, 0);
    margin: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s;
}

.sosial:hover {
    background-color: #de0000;
    border-radius: 5px;
}